<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSDevIDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <OSDevIDE.Properties.Settings>
            <setting name="ApplicationFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DockingLayoutFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultProjectFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentProjectPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentProjectName" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="CurrentProjectCreationDate" serializeAs="String">
                <value/>
            </setting>
            <setting name="LblTitleForecolour" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="LblValueForecolour" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
        </OSDevIDE.Properties.Settings>
    </userSettings>
</configuration>
